/* Put your custom css here */
.paralaxText h2 {
    color: #000;
    background: rgba(255, 255, 255, 0.8);
}

.paralaxText h2 i {
    color: #000;
}

.paralaxText h2 small {
    color: #000;
    font-weight: 300;
}

.iconRounded {
    border-color: #000;
}

.color1 h1, .color1 h2, .color1 h3, .color1 h4, .color1 blockquote, .color1 a{
	color: #fff;
}

a {
    color: #aaa;
}

a:hover {
    color: #777;
}

.boxIcon a:hover h2{
    color: #eee;
}

.boxIcon a:hover p{
    color: #777;
}

.tips i {
    color: #fff;
    border-color: #fff;
}
