*.pyc
*.*~
.DS_Store
.idea/
newrelic.ini

# /
/.ropeproject
/.pydevproject
/.project
/.settings
/.vimrc
/nbproject
/manage.cfg
/data

# /docs/ser-opensips/
/docs/ser-opensips/mysql.pass
/docs/ser-opensips/kamailio-*.cfg
/docs/ser-opensips/opensips-*.cfg
/docs/ser-opensips/opensipsctlrc
/docs/ser-opensips/osipsconsolerc

# /voipgrid/
/voipgrid/settings/dev.py
/voipgrid/settings/production.py
# /voipgrid/media/audiofiles/
/voipgrid/media/audiofiles
# /voipgrid/media/callmenow/
/voipgrid/media/callmenow/[0-9]*
# /voipgrid/media/provisioning/firmware/
/voipgrid/media/provisioning/firmware
# /voipgrid/media/quotes/pdf_files/
/voipgrid/media/quotes/pdf_files/
# /voipgrid/media/products/images/
/voipgrid/media/products/images/
# /voipgrid/base/phonenumber/porting/xmlclasses/
/voipgrid/base/phonenumber/porting/xmlclasses/

# voipgrid/static
/voipgrid/static/CACHE
/voipgrid/static/brand

# vagrant
/.vagrant
/.virtual/var/log/django
/.virtual/var/log/mysql
